@import "_vendor/normalize";
$roboto: "Roboto", sans-serif;

$post-el-color: rgba(187, 59, 85, 0.54);

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

.wrapper-card {
  font-family: $roboto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  min-width: 200px;
  width: 250px;
  min-height: 250px;
  height:auto;
  transition: 180ms;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:    0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow:        0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

  &:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:    0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow:        0 10px  15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @media screen and (max-width:420px) {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  :host {
    width: 100%;
  }
}
.card-header{
  width: 100%;
  height: 120px;
  //flex
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.date-wr{
  position: absolute;
  right: 0;
  color:#fff;
  border-radius: 100%;
  font-size: 21px;
  min-height:60px;
  min-width: 60px;
  margin: 10px;
  padding: 5px;
  background-color: $post-el-color;
  //flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .post-month{
    font-size: 14px;
  }
  & .post-year {
    font-size: 8px;
    padding-top: 4px;
  }
}

.post-body {
  padding: 10px;
}

.post-title {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  color: #4d4d4d;
}
.post-title:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .2s ease, background-color .5s ease;
}
.post-title:hover:after {
  width: 100%;
  background: #4d4d4d;
}


